
/* html {
    background-image: url("wall.jpg");
    background-image: url("wall2.jpg");
} */
 
body {
    font-family: sans-serif;
  /*  background-color: #D3D3D3; */
    border: #800020;
    font: #585858;
    background-image: url("wall2.png");
    
}

.top {
    text-align: center;
    padding-bottom: 75px;

}

h1 {
    font-size: 40px;
}


p {
    font-size: 20px;
}

.together {
    padding-left: 15px;
    padding-right: 15px;
}

.creepers, .docs {
    padding-bottom: 20px;
   
}

.sec1 {
    margin: 30px;
    margin-left: 15px;
    margin-right: 15px;
    border: 5px double #9E7D6D;
    border-radius: 5px;
    padding: 20px;    
    background-color: #F5F5F5;
}

.creep, .doc {
    padding-bottom: 10px;

}

figcaption, span {
    font-size: smaller;
}

.Q1, .Q2, .Q3 {
    padding-bottom: 10px;
}

.sec2 {
    margin-left: 15px;
    margin-right: 15px;
    background-color: #F5F5F5;
    border: 5px double #9E7D6D;
    border-radius: 5px;
}

fieldset {
    border-color:  #C0C0C0;
    border-radius: 2.5px;

}

#creepers, #docs, #culture, #sole, #style {
    accent-color:  #800020;
}

  